---
import '../styles/tags.css'
import LayoutBase from './LayoutBase.astro'
const { frontmatter } = Astro.props;
---

<LayoutBase tituloPagina={frontmatter.title}>
    <h4>{frontmatter.description}</h4>
    <p>Publicado em: {frontmatter.pubDate.slice(0, 10)}</p>
    <p>Escrito por {frontmatter.author}</p>
    <ul>
      {frontmatter.tags.map((tag: unknown) => <li>{tag}</li>)}
    </ul>
    <img src={frontmatter.image.url} width="600" alt={frontmatter.image.alt} />0
    
    <slot />
    
</LayoutBase>